<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Giỏ Hàng || CONNECTION</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicons -->
<link rel="shortcut icon" href="/web/img/favicon.ico">
<!-- Fontawesome css -->
<div th:replace="/bocuc/bo-cuc-giao-dien :: header"></div>
</head>

<body>
	<!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

	<!-- Main Wrapper Start Here -->
	<div class="wrapper">

		<div th:replace="/bocuc/bo-cuc-giao-dien :: navbar"></div>

		<div class="breadcrumb-area mt-30">
			<div class="container">
				<div class="breadcrumb">
					<ul class="d-flex align-items-center">
						<li><a th:href="@{/}">Trang Chủ</a></li>
						<li class="active"><a th:href="@{/gio-hang}">Giỏ Hàng</a></li>
					</ul>
				</div>
			</div>
			<!-- Container End -->
		</div>

		<div class="cart-main-area ptb-100 ptb-sm-60">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<!-- Form Start -->

						<!-- Table Content Start -->
						<div class="table-content table-responsive mb-45">

							<table>
								<thead>
									<tr>
										<th class="product-thumbnail">Hình Ảnh</th>
										<th class="product-name">Sản Phẩm</th>
										<th class="product-price">Giá</th>
										<th class="product-quantity">Số Lượng</th>
										<th class="product-subtotal">Tổng</th>
										<th class="product-remove">Xóa</th>
									</tr>
								</thead>
								<tbody th:each="sp : ${session.giohang}">
									<form th:action="@{/gio-hang/cap-nhat-gio-hang}" method="get">
										<tr>

											<td class="product-thumbnail"><a
												th:href="@{/san-pham/{id}(id=${sp.getValue().sanPham.id})}"><img
													th:src="${sp.getValue().sanPham.hinhAnh}"
													alt="cart-image" /></a></td>
											<td class="product-name"><a
												th:href="@{/san-pham/{id}(id=${sp.getValue().sanPham.id})}"
												th:text="${sp.getValue().sanPham.tenSanPham}"></a> </br>
												<i>Shop
													bán <a style="color: orange;"
													th:href="@{/san-pham/{id}(id=${sp.getValue().sanPham.id})}"
													th:text="${sp.getValue().sanPham.nguoiDung.tenShop}"></a>
											</i></td>
											<td class="product-price"><span class="amount" id="giasp"
												th:text="${#numbers.formatDecimal(sp.getValue().sanPham.donGia ,0, 'COMMA', 0, 'POINT')+' đ'}"></span></td>
											<td class="product-quantity"><input type="number"
												th:value="${sp.getValue().soLuong}" name="sl" min="0"
												th:max="${sp.getValue().sanPham.soLuongKho} - ${sp.getValue().sanPham.soLuongBan}" />
												<input type="submit" value="Sửa" />
												
											<td class="product-subtotal"
												th:text=" ${#numbers.formatDecimal(sp.getValue().sanPham.donGia  * sp.getValue().soLuong,0, 'COMMA', 0, 'POINT')+' đ'}">
											</td>
											<td class="product-remove"><a
												th:href="@{'/gio-hang/xoa-san-pham/{id}'(id=${sp.getValue().sanPham.id})}"><i
													class="fa fa-times" aria-hidden="true"></i></a> <input
												type="hidden" name="key" th:value="${sp.getKey()}" /></td>

										</tr>
									</form>
								</tbody>
							</table>

						</div>
						<!-- Table Content Start -->
						<div class="row">
							<!-- Cart Button Start -->
							<div class="col-md-8 col-sm-12">
								<div class="buttons-cart">
									</br> <a th:href="@{/trang-chu}">Tiếp Túc Mua Sắm</a>
									<p>* Đơn hàng bạn sẽ được miễn phí vận chuyển.
									<p />

								</div>
							</div>
							<!-- Cart Button Start -->
							<!-- Cart Totals Start -->
							<div class="col-md-4 col-sm-12">
								<div class="cart_totals float-md-right text-md-right">
									</br>
									<h2>Tổng Tiền Giỏ Hàng</h2>
									<br />
									<table class="float-md-right">
										<tbody>
											<tr class="cart-subtotal">
												<th>Tiền Ship</th>
												<td><span class="amount">0 Đ</span></td>
											</tr>
											<tr class="order-total">
												<th>Tổng</th>
											 <td><strong><span class="amount"
														th:text="${#numbers.formatDecimal(session.tongtien,0, 'COMMA', 0, 'POINT')+' đ'}"></span></strong></td>
											</tr>
										</tbody>
									</table>
									<div class="wc-proceed-to-checkout">
										<p>(Đã bao gồm VAT nếu có)</p>
										<a th:href="@{/dat-hang}">Tiếp Tục Đặt Hàng </a>

									</div>
									</br>
								</div>
							</div>
							<!-- Cart Totals End -->
						</div>
						<!-- Row End -->

						<!-- Form End -->
					</div>
				</div>
				<!-- Row End -->
			</div>
		</div>

		<div th:replace="/bocuc/bo-cuc-giao-dien :: footer"></div>

	</div>
	<!-- Main Wrapper End Here -->


	<div th:replace="/bocuc/bo-cuc-giao-dien :: lib"></div>
</body>

</html>