<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Thêm Sản Phẩm Của Bạn || CONNECTION</title>
<!-- Favicons -->
<link rel="shortcut icon" href="/web/img/favicon.ico">
<!-- Fontawesome css -->
<div th:replace="/bocuc/bo-cuc-giao-dien :: header"></div>
</head>

<body>
	<!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

	<!-- Main Wrapper Start Here -->
	<div class="wrapper">

		<div th:replace="/bocuc/bo-cuc-giao-dien :: navbar"></div>



		<div class="breadcrumb-area mt-30">
			<div class="container">
				<div class="breadcrumb">
					<ul class="d-flex align-items-center">
						<li><a th:href="@{/}">Trang Chủ</a></li>
						<li class="active"><a th:href="@{/ban-hang/san-pham-cua-ban}">San
								Phẩm Của Bạn</a></li>
					</ul>
				</div>
			</div>
			<!-- Container End -->
		</div>


		<!-- Breadcrumb End -->
		<!-- Shop Page Start -->
		<div class="main-shop-page pt-100 pb-100 ptb-sm-60">
			<div class="container">
				<!-- Row End -->
				<div class="row">
					<!-- Sidebar Shopping Option Start -->
					<div th:replace="/bocuc/nav_left :: nav_left"></div>





					<div class="row">

						<div class="col-md-1"></div>

						<div class="col-sm-12">
							<form class="form-register" action="#"
								th:action="@{/ban-hang/them-san-pham-moi}"
								th:object="${sanPham}" method="POST"
								enctype="multipart/form-data">
								<fieldset>
									<legend>Thêm Sản Phẩm</legend>
									<div th:text="${tx}" style="font-size: 20px; color: orange;"></div>

									<div class="form-group d-md-flex align-items-md-center">
										<label class="control-label col-md-3" for="f-name"><span
											class="require">*</span>Tên Danh Muc</label>
										<div class="col-md-12">
											<div class="form-group">
												<select class="form-control" th:field="*{danhMuc.id}">
													<option th:each="danhMuc : ${listDanhMuc}"
														th:text="${danhMuc.tenDanhMuc}" th:value="${danhMuc.id}"></option>

												</select>
											</div>
										</div>
									</div>


									<div class="form-group d-md-flex align-items-md-center">
										<label class="control-label col-md-3" for="f-name"><span
											class="require">*</span>Tên Sản Phẩm</label>
										<div class="col-md-12">
											<input th:field="*{tenSanPham}" type="text"
												class="form-control" placeholder="Tên Sản Phẩm " required maxlength="30">
										</div>
									</div>
									<div class="form-group d-md-flex align-items-md-center">
										<label class="control-label col-md-3" for="f-name"><span
											class="require">*</span>Đơn Giá</label>
										<div class="col-md-12">
											<input th:field="*{donGia}" type="number"
												class="form-control" placeholder="Đơn Giá " required min="1000" >
										</div>
									</div>

									<div class="form-group d-md-flex align-items-md-center">
										<label class="control-label col-md-3" for="f-name"><span
											class="require">*</span>Số Lượng Kho</label>
										<div class="col-md-12">
											<input th:field="*{soLuongKho}" type="number"
												class="form-control" placeholder="Số Lượng Kho " required min="1">
										</div>
									</div>

									<div class="form-group d-md-flex align-items-md-center">
										<label class="control-label col-md-3" for="f-name"><span
											class="require">*</span>Mô Tả</label>
										<div class="col-md-12">
											<input th:field="*{moTa}" class="form-control"
												placeholder="Mô Tả Sản Phẩm Của Bạn " required type="text" maxlength="50"/>
										</div>
									</div>
									<div class="form-group d-md-flex align-items-md-center">
										<label class="control-label col-md-3" for="f-name"><span
											class="require">*</span>Mô Tả Chi Tiết</label>
										<div class="col-md-12">
											<textarea th:field="*{moTaChiTiet}" class="form-control"
												placeholder="Mô tả chi tiết sản phẩm của bạn " required maxlength="500"></textarea>
										</div>
									</div>
									
									<div class="form-group d-md-flex align-items-md-center">
										<label class="control-label col-md-3" for="f-name"><span
											class="require">*</span>Thương Hiệu</label>
										<div class="col-md-12">
											<input th:field="*{thuongHieu}" class="form-control"
												placeholder="Thương Hiệu " required type="text" maxlength="30"/>
										</div>
									</div>
									<div class="form-group d-md-flex align-items-md-center">
										<label class="control-label col-md-3" for="f-name"><span
											class="require">*</span>Năm Sản Xuất</label>
										<div class="col-md-12">
											<input th:field="*{namSanXuat}" type="number"
												class="form-control" placeholder="Năm Sản Xuất "
												required min="1990" max="2020"/>
										</div>
									</div>

								</fieldset>
								<fieldset>
									<legend>Hình Ảnh</legend>
									<div class="form-group d-md-flex align-items-md-center">
										<label class="control-label col-md-3" for="email"><span
											class="require">*</span>Ảnh Đại Diện Sản Phẩm</label>
										<div class="col-md-5">
											<input class="form-control"
												placeholder="Hinh Anh Đại Diện Sản Phẩm" name="file" required="required"
												type="file" onchange="show(this)" />



										</div>

										<img id="hinhAnh1" height="130" width="130"
											style="border: solid" />
									</div>

									<div class="form-group d-md-flex align-items-md-center">
										<label class="control-label col-md-3"><span
											class="require">*</span>Ảnh Phụ 1</label>
										<div class="col-md-6">
											<input class="form-control"
												placeholder="Hinh Anh Đại Diện Sản Phẩm" name="file1" required="required"
												type="file" onchange="show1(this)"
												accept=".jpg, .jpeg, .png" />
										</div>
									</div>
									<div class="form-group d-md-flex align-items-md-center">
										<label class="control-label col-md-3"><span
											class="require">*</span>Ảnh Phụ 2</label>
										<div class="col-md-6">
											<input class="form-control"
												placeholder="Hinh Anh Đại Diện Sản Phẩm" name="file2" required="required"
												type="file" onchange="show1(this)" />
										</div>
									</div>
									<div class="form-group d-md-flex align-items-md-center">
										<label class="control-label col-md-3"><span
											class="require">*</span>Ảnh Phụ 3</label>
										<div class="col-md-6">
											<input class="form-control"
												placeholder="Hinh Anh Đại Diện Sản Phẩm" name="file3" required="required"
												type="file" onchange="show1(this)" />
										</div>
									</div>



								</fieldset>

								<div class="terms">
									<div class="float-md-right">

										<button class="return-customer-btn" type="submit">Thêm
											Sản Phẩm</button>
									</div>
								</div>
							</form>
						</div>
					</div>











					<!-- product Categorie List End -->
				</div>
				<!-- Row End -->
			</div>
			<!-- Container End -->
		</div>









	</div>




	<div th:replace="/bocuc/bo-cuc-giao-dien :: footer"></div>


	<!-- Main Wrapper End Here -->


	<div th:replace="/bocuc/bo-cuc-giao-dien :: lib"></div>

	<script type="text/javascript">
		function show(input) {
			debugger;
			var validExtensions = [ 'jpg', 'png', 'jpeg', 'JPG' ]; //array of valid extensions
			var fileName = input.files[0].name;
			var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1);
			if ($.inArray(fileNameExt, validExtensions) == -1) {
				input.type = ''
				input.type = 'file'
				$('#hinhAnh1').attr('src', "");
				alert("Only these file types are accepted : "
						+ validExtensions.join(', '));
			} else {
				if (input.files && input.files[0]) {
					var filerdr = new FileReader();
					filerdr.onload = function(e) {
						$('#hinhAnh1').attr('src', e.target.result);
					}
					filerdr.readAsDataURL(input.files[0]);
				}
			}
		};
		function show1(input) {
			debugger;
			var validExtensions = [ 'jpg', 'png', 'jpeg', 'JPG' ]; //array of valid extensions
			var fileName = input.files[0].name;
			var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1);
			if ($.inArray(fileNameExt, validExtensions) == -1) {
				input.type = ''
				input.type = 'file'
				$('#hinhAnh').attr('src', "");
				alert("Only these file types are accepted : "
						+ validExtensions.join(', '));
			} else {
				if (input.files && input.files[0]) {
					var filerdr = new FileReader();
					filerdr.onload = function(e) {
						$('#hinhAnh').attr('src', e.target.result);
					}
					filerdr.readAsDataURL(input.files[0]);
				}
			}
		}
	</script>
</body>

</html>