<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Chính sách || ABC Store</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicons -->
<link rel="shortcut icon" href="/web/img/favicon.ico">
<!-- Fontawesome css -->
<div th:replace="/bocuc/bo-cuc-giao-dien :: header"></div>
</head>

<body>
	<!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

	<!-- Main Wrapper Start Here -->
	<div class="wrapper">

		<div th:replace="/bocuc/bo-cuc-giao-dien :: navbar"></div>

		<div class="breadcrumb-area mt-30">
			<div class="container">
				<div class="breadcrumb">
					<ul class="d-flex align-items-center">
						<li><a th:href="@{/}">Trang Chủ</a></li>
						<li class="active"><a th:href="@{/chinh-sach}">Chính Sách</a></li>
					</ul>
				</div>
			</div>
			<!-- Container End -->
		</div>
		
		
		<div class="terms-conditions ptb-45">
             <div class="container">
                <div class="terms-content sidbar-style">
                    <h2 class="tems-tile">Chính Sách và điều khoản sử dụng dịch vụ</h2>
                    <div class="single-term mb-20">
                        <h3 class="term-mini-title">Chính Sách</h3>
                        <p>Website này cung cấp dịch vụ tiện ích cho khách hàng. Khi sử
                    dụng dịch vụ của website đồng nghĩa với việc bạn đã đồng ý
                    với điều khoản sử dụng của CONNECTION trong Chính sách về quyền riêng tư
                    và mọi luật và quy định hiện hành, bao gồm nhưng không giới
                    hạn ở các quy định kiểm soát xuất khẩu (gọi chung là "Điều khoản sử dụng").
                    Bạn tuyên bố mình có quyền hợp pháp để chấp nhận Điều khoản sử dụng này thay
                    mặt cho chính bạn cũng như cho bất cứ bên nào mà bạn đại diện. Nếu bạn không đồng
                    ý với Điều khoản sử dụng của chúng tôi, vui lòng không sử dụng Trang.</p>
                    </div>
                    <div class="single-term mb-20">
                        <h3 class="term-mini-title">Chính sách về quyền riêng tư</h3>
                       </br> <h4 class="term-mini-title">Giới thiệu</h4>
                        <p>Chúng tôi tại CONNECTION (sau đây gọi là công ty chúng tôi) đã luôn nỗ lực bảo vệ thông tin cá nhân của khách hàng. Với việc thu thập ngày càng nhiều thông tin cá nhân từ khách hàng qua Internet thông qua đăng ký người dùng, các chương trình trao thưởng, khảo sát người dùng, v.v., việc quản lý và bảo vệ hợp lý thông tin cá nhân của khách hàng ngày càng trở nên quan trọng hơn trong những năm gần đây.</p>
                        <p>Công ty chúng tôi đã thiết lập &quot;Chính sách về quyền riêng tư&quot; như trình bày dưới đây và chúng tôi cam kết sẽ quản lý các Trang web của chúng tôi nhằm đảm bảo khách hàng của chúng tôi được an toàn và hài lòng bằng việc chuyên tâm theo đuổi biện pháp phòng tránh hành vi sử dụng, tiết lộ, sửa đổi trái phép, v.v. thông tin cá nhân do khách hàng của chúng tôi cung cấp.</p>
                    
                    </div>
                    <div class="single-term mb-20">
                        <h3 class="term-mini-title">Định nghĩa thông tin cá nhân</h3>
                        <p>Thông tin cá nhân là bất kỳ thông tin nào được cung cấp cho công ty chúng tôi, có thể được sử dụng để nhận dạng một cá nhân chẳng hạn như tên và họ, địa chỉ nhà riêng hoặc địa chỉ thực tế khác, số điện thoại hoặc địa chỉ email hay bất kỳ thông tin nào nhận dạng duy nhất cá nhân đó.</p>
                    </div>
                    <div class="single-term mb-20">
                        <h3 class="term-mini-title">Thu thập thông tin cá nhân</h3>
                        <p>Khi chúng tôi thu thập thông tin cá nhân qua Internet, chúng tôi tuân theo quy tắc cơ bản là thông tin đó được cung cấp (đăng ký) một cách tự nguyện. Chúng tôi sẽ chỉ thu thập thông tin cá nhân trong giới hạn cần thiết để hoàn thành mục đích thu thập thông tin của mình, mục đích đó sẽ được công bố rõ ràng. Nếu bạn không muốn cung cấp (đăng ký) thông tin cá nhân mà chúng tôi tìm kiếm, bạn có thể từ chối làm như vậy theo toàn quyền quyết định của bạn. Trong những trường hợp đó, bạn không thể truy cập một số dịch vụ mà chúng tôi cung cấp thông qua các Trang web của công ty chúng tôi.</p>
                    </div>
                    <div class="single-term mb-20">
                        <h3 class="term-mini-title">Mục đích và giới hạn sử dụng thông tin cá nhân</h3>
                        <p>Khi chúng tôi đề nghị cung cấp thông tin cá nhân (đăng ký), chúng tôi sẽ công bố trước mục đích của việc thu thập và phương pháp sử dụng thông tin, sau đó thu thập thông tin trong giới hạn thích hợp. Một quy tắc chung giới hạn việc sử dụng thông tin cá nhân ở những mục đích sau. Đồng thời cũng có khả năng sử dụng thông tin cá nhân cho những mục đích khác, như dữ liệu thống kê ở các biểu mẫu trong đó dữ liệu không được phân biệt theo từng cá nhân.</p>
                    </div>
                    <div class="single-term mb-20">
                    <ul class="unorderedList01">
                        <li class="unorderedList01__item"><i class="fa fa-circle"></i>Để cung cấp hàng hóa hoặc dịch vụ mà bạn mong muốn.
                        </li>
                        <li class="unorderedList01__item"><i class="fa fa-circle"></i>Để cải tiến dịch vụ cho bạn.
                        </li>
                        <li class="unorderedList01__item"><i class="fa fa-circle"></i>Để cung cấp thông tin về hàng hóa hoặc dịch vụ cho bạn.
                        </li>
                    </ul>
                    </div>
                        <div class="single-term mb-20">
                    <h3 class="term-mini-title">
                        Sử dụng thư trực tiếp
                    </h3>
                	</div>
                <div class="single-term mb-20">
                    <div class="textcp text">
                        <p>Chúng tôi sẽ không sử dụng tên, địa chỉ email, địa chỉ thực tế, v.v. được cung cấp cho chúng tôi trừ những trường hợp nêu trên cho bất kỳ hoạt động gửi thư trực tiếp nào mà không có sự đồng ý của bạn. Tuy nhiên, nếu bạn đã đồng ý cụ thể tại thời điểm đăng ký, chúng tôi có thể sử dụng địa chỉ email của bạn để gửi cho bạn những thông tin như thông báo về việc bạn đạt giải.</p>
                    </div>
                </div>
                <div class="single-term mb-20">
                    <h3 class="term-mini-title">
                        Tham khảo, chỉnh sửa hoặc xóa thông tin cá nhân
                    </h3>
                </div>
                <div class="single-term mb-20">
                    <div class="textcp text">
                        <p>Khi bạn muốn đề cập tới thông tin cá nhân mà chúng tôi sở hữu hoặc muốn chỉnh sửa hay xóa thông tin đó, hãy liên hệ với chúng tôi qua kênh hỏi đáp thông qua quy trình đã định sẵn của công ty chúng tôi. Sau khi xác minh danh tính của người đưa ra yêu cầu, chúng tôi sẽ tiết lộ cho bạn hoặc chỉnh sửa/xóa thông tin trong thời gian hợp lý.</p>
                    </div>
                </div>
                <div class="single-term mb-20">
                    <h3 class="term-mini-title">
                        Trung tâm hỗ trợ khách hàng
                    </h3>
                </div>
                <div class="single-term mb-20">
                    <div class="textcp text">
                        <p>Nếu bạn muốn kiểm tra thông tin cá nhân của mình, vui lòng liên hệ với bộ phận đã trả lời câu hỏi của bạn hoặc qua chi tiết liên hệ mà công ty chúng tôi cung cấp cho bạn khi bạn cung cấp thông tin cá nhân của mình.</p>
                        <p>Nếu bạn không biết nên liên hệ với ai hoặc nếu bạn muốn hỏi về thông tin cá nhân mà bạn đã cung cấp trên trang web của chúng tôi, vui lòng sử dụng biểu mẫu câu hỏi.</p>
                    </div>
                </div>
                <div class="single-term mb-20">
                    <h3 class="term-mini-title">
                        Quản lý thông tin cá nhân
                    </h3>
                </div>
                <div class="single-term mb-20">
                    <div class="textcp text">
                        <p>Quản trị viên Trang web của chúng tôi duy trì hoạt động quản lý nghiêm ngặt thông tin cá nhân đã thu thập được và các biện pháp thích hợp được thực hiện nhằm ngăn chặn sử dụng, tiết lộ hoặc sửa đổi trái phép thông tin đó. Khi các điều khoản sử dụng cụ thể được đăng trên Trang web, những điều khoản sử dụng đó sẽ được ưu tiên áp dụng so với &quot;Chính sách về quyền riêng tư&quot; này.</p>
                    </div>
                </div>
                <div class="single-term mb-20">
                    <h3 class="term-mini-title">
                        Xử lý thông tin cá nhân
                    </h3>
                </div>
                <div class="single-term mb-20">
                    <div class="textcp text">
                        <p>Khi bạn đặt câu hỏi, đề nghị cung cấp ca-ta-lô hoặc khi chúng tôi mời người tham gia, v.v., bạn sẽ được yêu cầu nhập thông tin cá nhân trên trang web của chúng tôi. Chúng tôi cố gắng bảo vệ thông tin cá nhân bằng cách thực hiện các biện pháp kiểm soát bảo mật dựa trên Chính sách về quyền riêng tư này.</p>
                        <p>Trong trường hợp khác ngoài các trường hợp nêu trên, bạn có thể truy cập trang web của chúng tôi mà không cần phải tiết lộ thông tin cá nhân.</p>
                    </div>
                </div>
                <div class="single-term mb-20">
                    <h3 class="term-mini-title">
                        Sử dụng bọ web
                    </h3>
                </div>
                <div class="single-term mb-20">
                    <div class="textcp text">
                        <p>Bọ web được nhúng vào một số trang trên trang web của chúng tôi để kiểm tra số lần các trang cụ thể đã được truy cập. Dữ liệu thống kê nhận được bằng bọ web được dùng để cải tiến trang web của chúng tôi. Ví dụ như quảng cáo cho các trang web mà các công ty đối tác của chúng tôi vận hành có thể được hiển thị dựa trên lịch sử duyệt của bạn trên trang web của chúng tôi, v.v.</p>
                    </div>
                </div>
                <div class="single-term mb-20">
                    <h3 class="term-mini-title">
                        Sử dụng nhật ký truy cập
                    </h3>
                </div>
                <div class="single-term mb-20">
                    <div class="textcp text">
                        <p>Khi bạn sử dụng trang web của chúng tôi, nhật ký truy cập bao gồm địa chỉ IP của bạn sẽ được ghi lại. Thông tin này được sử dụng để theo dõi việc bạn truy cập vào trang web của chúng tôi chứ không được sử dụng để nhận dạng người dùng, trừ các trang yêu cầu xác thực người dùng.</p>
                    </div>
                </div>
                <div class="single-term mb-20">
                    <h3 class="term-mini-title">
                        Thông tin cá nhân tại các trang web bên thứ ba
                    </h3>
                </div>
                <div class="single-term mb-20">
                    <div class="textcp text">
                        <p>Chúng tôi không chịu trách nhiệm theo bất kỳ cách nào đối với việc thu thập thông tin cá nhân tại các trang web do các công ty khác vận hành được giới thiệu trên trang web của chúng tôi.</p>
                    </div>
                </div>
                </div>
                </div>
             </div>
             <!-- Container End -->
         </div>
		
		
		
		

		<div th:replace="/bocuc/bo-cuc-giao-dien :: footer"></div>

	
	<!-- Main Wrapper End Here -->


	<div th:replace="/bocuc/bo-cuc-giao-dien :: lib"></div>
</body>

</html>