<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="utf-8">
<title>Danh Sách Sản Phẩm Của Bạn || ABC Store</title>
<!-- Favicons -->
<link rel="shortcut icon" href="/web/img/favicon.ico">
<!-- Fontawesome css -->
<div th:replace="/bocuc/bo-cuc-giao-dien :: header"></div>
</head>

<body>
	<!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

	<!-- Main Wrapper Start Here -->
	<div class="wrapper">

		<div th:replace="/bocuc/bo-cuc-giao-dien :: navbar"></div>


		<div class="breadcrumb-area mt-30">
			<div class="container">
				<div class="breadcrumb">
					<ul class="d-flex align-items-center">
						<li><a th:href="@{/}">Trang Chủ</a></li>
						<li class="active"><a th:href="@{/ban-hang/san-pham-cua-ban}">San
								Phẩm Của Bạn</a></li>
					</ul>
				</div>
			</div>
			<!-- Container End -->
		</div>


		
		<div class="main-shop-page pt-100 pb-100 ptb-sm-60">
			<div class="container">
				
				<div class="row">
				
				
					<div th:replace="/bocuc/nav_left :: nav_left"></div>
					<!--  <div class="col-lg-2 col-md-2">
						<div class="sidebar">
							
							<div class="electronics mb-40">
								<h3 class="sidebar-title">Shop Của Bạn</h3>
								<div id="shop-cate-toggle"
									class="category-menu sidebar-menu sidbar-style">
									<ul>
										<li class="has-sub"><a href="#">Sản Phẩm</a>
											<ul class="category-sub">
												<li><a th:href="@{/ban-hang/them-san-pham-moi}">Thêm
														Sản Phẩm Mới</a></li>

											</ul> </li>
										<li class="has-sub"><a href="#">Quản lý</a>
											<ul class="category-sub">
												<li><a href="shop.html">Quản lý</a></li>

											</ul> 
											
											</li>


									</ul>
								</div>
								
							</div>

						</div>
					</div> -->


					<!-- Sidebar Shopping Option End -->
					<!-- Product Categorie List Start -->
					<div class="col-lg-9 order-1 order-lg-2">
		
									<div class="col-lg-12 grid-margin stretch-card">
										<div class="card">
											<div class="card-body">
												<h4 class="card-title">Sản Phẩm Của Bạn Đang Chờ Quản Lý Kiểm Duyệt</h4>

												<table class="table table-striped">
													<thead>
														<tr>
															<th>Hình Ảnh</th>
															<th>Tên</th>
															<th>Đơn Giá</th>
															<th>Số lượng Kho</th>
															<th>Danh Mục</th>
															<th>Tùy Chọn</th>
															<th></th>

														</tr>
													</thead>

													<th:block th:each="sanpham : ${listSanPham}">
														<tr>
															<td><div>
																	<a th:href="@{/san-pham/{id}(id=${sanpham.id})}"> <img
																		class="primary-img" th:src="${sanpham.hinhAnh}"
																		alt="single-product" style="height: 70px; width: 70px">
																	</a>
																</div></td>
															<td><a th:href="@{/san-pham/{id}(id=${sanpham.id})}"
																th:text="${sanpham.tenSanPham}"></a></td>
															<td><span class="price" style="font-size: 15px"
																th:text="${#numbers.formatDecimal(sanpham.donGia,0, 'COMMA',0, 'POINT')+' đ'}"></span></td>

															<td><span class="price" style="font-size: 15px"
																th:text="${sanpham.soLuongKho}"></span></td>
															<td><span class="price" style="font-size: 15px"
																th:text="${sanpham.danhMuc.tenDanhMuc}"></span></td>


															<td><a class="customer-btn"
																th:href="@{/ban-hang/sua-san-pham/{id}(id=${sanpham.id})}"
																type="submit">Sửa</a></td>
															<td><a class="return-customer-btn"
																th:href="@{/ban-hang/xoa-san-pham/{id}(id=${sanpham.id})}" onclick="return confirm('Bạn có chắc rằng xóa san pham nay ?');"
																type="submit">Xóa</a></td>

														</tr>
													</th:block>

												</table>
											</div>


										</div>
										<div class="row">
											<div class="col-12 grid-margin">
												<div class="container">
													<div class="pro-pagination">
														<table>
															<tr class="blog-pagination">


																<td class="page-item"
																	th:each="pageNumber : ${pageNumbers}"><a
																	class="page-link"
																	th:href="@{/ban-hang/san-pham-cho-kiem-duyet(page=${pageNumber})}"
																	th:text=${pageNumber}></a></td>
															</tr>
														</table>

													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Row End -->
								</div>

								<!-- #grid view End -->


								<!-- Product Pagination Info -->
							</div>
							<!-- Grid & List Main Area End -->
						</div>
					</div>
					<!-- product Categorie List End -->
				</div>
				<!-- Row End -->

	<div th:replace="/bocuc/bo-cuc-giao-dien :: footer"></div>


	<!-- Main Wrapper End Here -->


	<div th:replace="/bocuc/bo-cuc-giao-dien :: lib"></div>
</body>

</html>