<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Tài Khoản Của Bạn || ABC Store</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicons -->
<link rel="shortcut icon" href="/web/img/favicon.ico">
<!-- Fontawesome css -->
<div th:replace="/bocuc/bo-cuc-giao-dien :: header"></div>
</head>

<body>
	<!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

	<!-- Main Wrapper Start Here -->
	<div class="wrapper">

		<div th:replace="/bocuc/bo-cuc-giao-dien :: navbar"></div>



		<div class="breadcrumb-area mt-30">
			<div class="container">
				<div class="breadcrumb">
					<ul class="d-flex align-items-center">
						<li><a th:href="@{/}">Trang Chủ</a></li>
						<li class="active"><a th:href="@{/ban-hang/san-pham-cua-ban}">San
								Phẩm Của Bạn</a></li>
					</ul>
				</div>
			</div>
			<!-- Container End -->
		</div>


		<!-- Breadcrumb End -->
		<!-- Shop Page Start -->
		<div class="main-shop-page pt-100 pb-100 ptb-sm-60">
			<div class="container">
				<!-- Row End -->
				<div class="row">
					<!-- Sidebar Shopping Option Start -->



					<div th:replace="/bocuc/nav_left_tai_khoan :: nav_left_tai_khoan"></div>


					<div class="row">

						<div class="col-md-1"></div>

						<div class="col-sm-12">
							<form class="form-register" action="#"
								th:action="@{/doi-mat-khau}" th:object="${taiKhoan1}"
								method="POST">

								<fieldset>
									<legend>Tài Khoản Của Bạn</legend>
									<div class="form-group d-md-flex align-items-md-center">
										<label class="control-label col-md-3" for="email"><span
											class="require">*</span>Tên tài khoản Email</label>
										<div class="col-md-10">
											<input type="email" class="form-control"
												placeholder="Nhập email của bạn"
												th:field="*{tenTaiKhoanEmail}" required id="email"
												onchange="checkEmail()" readonly="readonly">
										</div>
									</div>
									<div class="form-group d-md-flex align-items-md-center">
										<label class="control-label col-md-3" for="pwd"><span
											class="require">*</span>Mật Khẩu Mới</label>
										<div class="col-md-10">
											<input type="password" class="form-control" id="pwd1"
												placeholder="Nhập mật khẩu của bạn" th:field="*{matKhau}" th:maxlength="12" th:minlength="6"
												required>
										</div>
									</div>
									<div class="form-group d-md-flex align-items-md-center">
										<label class="control-label col-md-3" for="pwd-confirm"><span
											class="require">*</span>Xác Nhận Mật Khẩu Mới</label>
										<div class="col-md-10">
											<input type="password" class="form-control" id="pwd2" th:maxlength="12" th:minlength="6"
												placeholder="Confirm password" required onchange="valipwd()">
										</div>
									</div>

									<div class="form-group d-md-flex align-items-md-center">
										<button class="return-customer-btn" type="submit"
											onclick="valipwd()">Lưu Tài Khoản</button>
									</div>





								</fieldset>

							</form>
						</div>
					</div>
					<!-- product Categorie List End -->
				</div>
				<!-- Row End -->
			</div>
			<!-- Container End -->
		</div>









	</div>




	<div th:replace="/bocuc/bo-cuc-giao-dien :: footer"></div>


	<!-- Main Wrapper End Here -->


	<div th:replace="/bocuc/bo-cuc-giao-dien :: lib"></div>

	<script type="text/javascript">
		function show(input) {
			debugger;
			var validExtensions = [ 'jpg', 'png', 'jpeg', 'JPG' ]; //array of valid extensions
			var fileName = input.files[0].name;
			var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1);
			if ($.inArray(fileNameExt, validExtensions) == -1) {
				input.type = ''
				input.type = 'file'
				$('#hinhAnh1').attr('src', "");
				alert("Only these file types are accepted : "
						+ validExtensions.join(', '));
			} else {
				if (input.files && input.files[0]) {
					var filerdr = new FileReader();
					filerdr.onload = function(e) {
						$('#hinhAnh1').attr('src', e.target.result);
					}
					filerdr.readAsDataURL(input.files[0]);
				}
			}
		};
		function show1(input) {
			debugger;
			var validExtensions = [ 'jpg', 'png', 'jpeg', 'JPG' ]; //array of valid extensions
			var fileName = input.files[0].name;
			var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1);
			if ($.inArray(fileNameExt, validExtensions) == -1) {
				input.type = ''
				input.type = 'file'
				$('#hinhAnh').attr('src', "");
				alert("Only these file types are accepted : "
						+ validExtensions.join(', '));
			} else {
				if (input.files && input.files[0]) {
					var filerdr = new FileReader();
					filerdr.onload = function(e) {
						$('#hinhAnh').attr('src', e.target.result);
					}
					filerdr.readAsDataURL(input.files[0]);
				}
			}
		}
	</script>
</body>

</html>