<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	class="no-js" lang="zxx">

<div th:fragment="header">
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="shortcut icon" href="/web/img/favicon.ico">

	<link rel="stylesheet" href="/web/css/font-awesome.min.css">
	<!-- Ionicons css -->
	<link rel="stylesheet" href="/web/css/ionicons.min.css">
	<!-- linearicons css -->
	<link rel="stylesheet" href="/web/css/linearicons.css">
	<!-- Nice select css -->
	<link rel="stylesheet" href="/web/css/nice-select.css">
	<!-- Jquery fancybox css -->
	<link rel="stylesheet" href="/web/css/jquery.fancybox.css">
	<!-- Jquery ui price slider css -->
	<link rel="stylesheet" href="/web/css/jquery-ui.min.css">
	<!-- Meanmenu css -->
	<link rel="stylesheet" href="/web/css/meanmenu.min.css">
	<!-- Nivo slider css -->
	<link rel="stylesheet" href="/web/css/nivo-slider.css">
	<!-- Owl carousel css -->
	<link rel="stylesheet" href="/web/css/owl.carousel.min.css">
	<!-- Bootstrap css -->
	<link rel="stylesheet" href="/web/css/bootstrap.min.css">
	<!-- Custom css -->
	<link rel="stylesheet" href="/web/css/default.css">
	<!-- Main css -->
	<link rel="stylesheet" href="/web/style.css">
	<!-- Responsive css -->
	<link rel="stylesheet" href="/web/css/responsive.css">
	<!-- Modernizer js -->
	<script src="/web/js/vendor/modernizr-3.5.0.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/styles/metro/notify-metro.css" />

</div>
<div th:fragment="navbar">
	<!-- Banner Popup Start -->

	<!-- Banner Popup End -->
	<!-- Newsletter Popup Start -->
	<!--  div class="popup_wrapper">
		<div class="test">
			<span class="popup_off">Close</span>
			<div class="subscribe_area text-center mt-60">
				<h2>Bản Tin</h2>
				<p>Đăng ký danh sách gửi thư Connection để nhận thông tin cập
					nhật hàng mới đến, ưu đãi đặc biệt và thông tin giảm giá khác.</p>
				<div class="subscribe-form-group">
					<form action="#">
						<input autocomplete="off" type="text" name="message" id="message"
							placeholder="Vui lòng nhập Email của bạn...">
						<button type="submit">Đăng Ký</button>
					</form>
				</div>
				<div class="subscribe-bottom mt-15">
					<input type="checkbox" id="newsletter-permission"> <label for="newsletter-permission"> Đừng hiển thị
						cửa sổ bật lên
						này một lần nữa.</label>
				</div>
			</div>
		</div>
	</div>-->



	<div class="header-top-area">
		<div class="container">
			<!-- Header Top Start -->
			<div class="header-top">
				<ul>
					<li><a th:href="@{/chinh-sach}">Liên Hệ</a></li>
					<li><a th:href="@{/chinh-sach}">Địa Chỉ</a></li>
					<li><a th:href="@{/chinh-sach}">Kết Nối</a></li>
				</ul>

				<ul>
					<li th:if="${#request.isUserInRole('admin')}"><a
						role="presentation" th:href="@{/quan-ly}">Quản Lý ADMIN</a></li>
					<li><a th:href="@{/chinh-sach}" th:text="${'Chính sách'}"></a></li>
					<li><a th:href="@{/chinh-sach}" th:text="${'Thông báo'}"></a></li>
					<li><a th:href="@{/chinh-sach}" th:text="${'Trợ Giúp'}"></a></li>
					<th:block th:if="${#request.userPrincipal}">

						<li><a th:href="@{/tai-khoan}"
							th:text="${#request.userPrincipal.name}"><i
								class="lnr lnr-chevron-down"></i></a>
							<ul class="ht-dropdown">
								
								<li th:if="${#request.isUserInRole('user')}"><a
									th:href="@{/khach-hang/hoa-don/hoa-don-giao-hang}">Đơn Hàng
										Của Tôi</a></li>
								<li><a th:href="@{/dang-xuat}">Đăng Xuất</a></li>
							</ul></li>
					</th:block>

					<th:block th:unless="${#request.userPrincipal}">

						<li><a th:href="@{/dang-nhap}">Tài Khoản Của Tôi<i
								class="lnr lnr-chevron-down"></i></a> <!-- Dropdown Start -->
							<ul class="ht-dropdown">
								<li><a th:href="@{/dang-nhap}">Đăng Nhập</a></li>
								<li><a th:href="@{/dang-ky}">Đăng Ký</a></li>
							</ul> <!-- Dropdown End --></li>
					</th:block>


				</ul>

			</div>
			<!-- Header Top End -->
		</div>
		<!-- Container End -->

		<div class="header-middle ptb-15">
			<div class="container">
				<div class="row align-items-center no-gutters">
					<div class="col-lg-2 col-md-12">
						<div class="logo mb-all-30">
							<a th:href="@{/}"><img src="/web/img/logo/logo.png"
								alt="logo-image"></a>
						</div>
					</div>
					<!-- Categorie Search Box Start Here -->
					<div class="col-lg-6 col-md-9 ml-auto mr-auto col-10">
						<div class="categorie-search-box">
							<form th:action="@{/tim-kiem}" method="GET">
								<input type="text" name="keyWord"
									placeholder="Nhập sản phẩm cần mua...">
								<button type="submit">
									<i class="lnr lnr-magnifier"></i>
								</button>
							</form>
						</div>
					</div>
					<!-- Categorie Search Box End Here -->
					<!-- Cart Box Start Here -->
					<div class="col-lg-3 col-md-12">
						<div class="cart-box mt-all-30">
							<ul style="float: left;"
								class="d-flex justify-content-lg-end justify-content-center align-items-center">
								<li><a th:href="@{/gio-hang}">
								<i class="lnr lnr-cart"></i>
								<span class="my-cart"><span class="total-pro" id="tongspgh"></span>
								<span>giỏ hàng</span></span></a>
									<ul class="ht-dropdown cart-box-width">
										<li>
											<div id="dssp">
											</div>
											<div class="cart-footer">
												<ul class="price-content">
													<li id="liTT">Tổng Tiền <span id="tongTienGH"></span></li>
												</ul>
												<div class="cart-actions text-center">
													<a id="btnGioHang" class="cart-checkout" th:href="@{/gio-hang}">Xem Giỏ
														Hàng</a>
												</div>
											</div>
										</li>

									</ul>
									
								</li>

							</ul>
						</div>
					</div>
					<!-- Cart Box End Here -->
				</div>
				<!-- Row End -->
			</div>
			<!-- Container End -->
		</div>
		<!-- Header Bottom Start Here -->
		<div class="header-bottom  header-sticky">
			<div class="container">
				<div class="row align-items-center">
					<div
						class="col-xl-3 col-lg-4 col-md-6 vertical-menu d-none d-lg-block">
						<span class="categorie-title">Danh Mục Sản Phẩm</span>
					</div>
					<div class="col-xl-9 col-lg-8 col-md-12 ">
						<nav class="d-none d-lg-block">
							<ul class="header-bottom-list d-flex">
								<li class="active"><a href="/">trang chủ<i></i></a>
									<!-- Home Version Dropdown Start -->
								<li><a href="/">shop<i class="fa fa-angle-down"></i></a>
									<!-- Home Version Dropdown Start -->
									 <!-- Home Version Dropdown End --></li>
								<li><a href="/">Tư Vấn<i
										class="fa fa-angle-down"></i></a> <!-- Home Version Dropdown Start -->
								 <!-- Home Version Dropdown End --></li>
							
								<li><a th:href="@{/chinh-sach}">Chính Sách</a></li>
								<li><a th:href="@{/chinh-sach}">Thông Tin Về Chúng Tôi</a></li>
							</ul>
						</nav>
						
					</div>
				</div>
				<!-- Row End -->
			</div>
			<!-- Container End -->
		</div>

	</div>
	<div class="main-page-banner home-3">
		<div class="container">
			<div class="row">
				<!-- Vertical Menu Start Here -->
				<div class="col-xl-3 col-lg-4 d-none d-lg-block">
					<div class="vertical-menu mb-all-30">
						<nav>
							<ul class="vertical-menu-list">
								
								<li><a href="shop.html"><span><img
											src="/web/img/vertical-menu/7.png" alt="menu-icon"></span>Đồ chơi mô hình</a></li>
								<li><a href="shop.html"><span><img
											src="/web/img/vertical-menu/5.png" alt="menu-icon"></span>Đồ chơi lắp ghép</a></li>
								<li><a href="shop.html"><span><img
											src="/web/img/vertical-menu/8.png" alt="menu-icon"></span>Đồ chơi thủ công, mỹ thuật</a></li>
								<li><a href="shop.html"><span><img
											src="/web/img/vertical-menu/9.png" alt="menu-icon"></span>Đồ chơi giải đố</a></li>
								
								<!-- More Categoies End -->
							</ul>
						</nav>
					</div>
				</div>
				<!-- Vertical Menu End Here -->
			</div>
			<!-- Row End -->
		</div>
		<!-- Container End -->
	</div>
</div>











<div th:fragment="lib">
	<script src="/web/js/vendor/jquery-3.2.1.min.js"></script>
	<!-- Countdown js -->
	<script src="/web/js/jquery.countdown.min.js"></script>
	<!-- Mobile menu js -->
	<script src="/web/js/jquery.meanmenu.min.js"></script>
	<!-- ScrollUp js -->
	<script src="/web/js/jquery.scrollUp.js"></script>
	<!-- Nivo slider js -->
	<script src="/web/js/jquery.nivo.slider.js"></script>
	<!-- Fancybox js -->
	<script src="/web/js/jquery.fancybox.min.js"></script>
	<!-- Jquery nice select js -->
	<script src="/web/js/jquery.nice-select.min.js"></script>
	<!-- Jquery ui price slider js -->
	<script src="/web/js/jquery-ui.min.js"></script>
	<!-- Owl carousel -->
	<script src="/web/js/owl.carousel.min.js"></script>
	<!-- Bootstrap popper js -->
	<script src="/web/js/popper.min.js"></script>
	<!-- Bootstrap js -->
	<script src="/web/js/bootstrap.min.js"></script>
	<!-- Plugin js -->
	<script src="/web/js/plugins.js"></script>
	<!-- Main activaion js -->
	<script src="/web/js/main.js"></script>
	<script src="/web/js/giohang.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
	<script src="/admin/assets/js/jquery.twbsPagination.js"
		type="text/javascript"></script>
</div>


<div th:fragment="footer">
	<div class="support-area bdr-top">
		<div class="container">
			<div class="d-flex flex-wrap text-center">
				<div class="single-support">
					<div class="support-icon">
						<i class="lnr lnr-gift"></i>
					</div>
					<div class="support-desc">
						<h6>Ưu Đãi Khuyến Mãi</h6>
						<span>Hàng Deal đang chờ bạn</span>
					</div>
				</div>
				<div class="single-support">
					<div class="support-icon">
						<i class="lnr lnr-rocket"></i>
					</div>
					<div class="support-desc">
						<h6>Giao hàng tận nơi</h6>
						<span>Giao hàng nhanh chóng tiện lợi.</span>
					</div>
				</div>
				<div class="single-support">
					<div class="support-icon">
						<i class="lnr lnr-lock"></i>
					</div>
					<div class="support-desc">
						<h6>Bảo Mật An Toàn</h6>
						<span>Thanh Toán An Toàn và Bảo Mật</span>
					</div>
				</div>
				<div class="single-support">
					<div class="support-icon">
						<i class="lnr lnr-enter-down"></i>
					</div>
					<div class="support-desc">
						<h6>Nhiều Mẫu Mã Lựa Chọn</h6>
						<span>Hàng trăm ngàn sản phẩm đang mong chờ từ bạn.</span>
					</div>
				</div>
				<div class="single-support">
					<div class="support-icon">
						<i class="lnr lnr-users"></i>
					</div>
					<div class="support-desc">
						<h6>Hỗ Trợ 24/7</h6>
						<span>Luôn luôn hỗ trợ khách hàng mọi lúc.</span>
					</div>
				</div>
			</div>
		</div>
		<!-- Container End -->
	</div>

	<footer class="off-white-bg2 pt-95 bdr-top pt-sm-55">
		<!-- Footer Top Start -->
		<div class="footer-top">
			<div class="container">
				<!-- Signup Newsletter Start -->
				
				<!-- Signup-Newsletter End -->
				<div class="row">
					<!-- Single Footer Start -->
					<div class="col-lg-2 col-md-4 col-sm-6">
						<div class="single-footer mb-sm-40">
							<h3 class="footer-title">Thông Tin</h3>
							<div class="footer-content">
								<ul class="footer-list">
									<li><a href="about.html">Về Chúng Tôi</a></li>
									<li><a href="#">Thông tin giao hàng</a></li>
									<li><a href="#">Chính sách bảo mật</a></li>
									<li><a href="contact.html"> Điều khoản và điều kiện</a></li>
									<li><a href="login.html">Câu hỏi thường gặp</a></li>
									<li><a href="login.html"> Chính sách hoàn trả</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- Single Footer Start -->
					<!-- Single Footer Start -->
					<div class="col-lg-2 col-md-4 col-sm-6">
						<div class="single-footer mb-sm-40">
							<h3 class="footer-title">Dịch Vụ Khách Hàng</h3>
							<div class="footer-content">
								<ul class="footer-list">
									<li><a href="contact.html"> Liên hệ chúng tôi</a></li>
									<li><a href="#">Trả về</a></li>
									<li><a href="#"> Lịch Sử Đơn Hàng</a></li>
									<li><a href="wishlist.html"> Danh sách mong muốn</a></li>
									<li><a href="#"> Sơ đồ trang web</a></li>
									<li><a href="#"> Phiếu quà tặng</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- Single Footer Start -->
					<!-- Single Footer Start -->
					<div class="col-lg-2 col-md-4 col-sm-6">
						<div class="single-footer mb-sm-40">
							<h3 class="footer-title">Ngoài ra</h3>
							<div class="footer-content">
								<ul class="footer-list">
									<li><a href="#">Bản Tin</a></li>
									<li><a href="#">Thương hiệu</a></li>
									<li><a href="#">Phiếu quà tặng</a></li>
									<li><a href="#"> Chi nhánh</a></li>
									<li><a href="#"> Đặc biệt</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- Single Footer Start -->
					<!-- Single Footer Start -->
					<div class="col-lg-2 col-md-4 col-sm-6">
						<div class="single-footer mb-sm-40">
							<h3 class="footer-title">Tài Khoản Của Tôi</h3>
							<div class="footer-content">
								<ul class="footer-list">
									<li><a href="contact.html">Liên hệ chúng tôi</a></li>
									<li><a href="#">Trả về</a></li>
									<li><a href="#">Tài Khoản Của Tôi</a></li>
									<li><a href="#">Lịch sử giao dịch</a></li>
									<li><a href="#">Bản Tin</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- Single Footer Start -->
					<!-- Single Footer Start -->
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="single-footer mb-sm-40">
							<h3 class="footer-title">Tài Khoản Của Tôi</h3>
							<div class="footer-content">
								<ul class="footer-list address-content">
									<li><i class="lnr lnr-map-marker"></i> Địa Chỉ: 12 Nguyễn
										Văn Bảo, Phường 4, Gò Vấp, Hồ Chí Minh.</li>
									<li><i class="lnr lnr-envelope"></i><a href="#"> Mail
											baohoa0985550675@gmail.com </a></li>
									<li><i class="lnr lnr-phone-handset"></i> Số Điện Thoại:
										0985550675</li>
								</ul>
								<div class="payment mt-25 bdr-top pt-30">
									<a href="#"><img class="img" src="/web/img/payment/1.png"
										alt="payment-image"></a>
								</div>
							</div>
						</div>
					</div>
					<!-- Single Footer Start -->
				</div>
				<!-- Row End -->
			</div>
			<!-- Container End -->
		</div>
		<!-- Footer Top End -->
		<!-- Footer Middle Start -->
		<div class="footer-middle text-center">
			<div class="container">
				<div class="footer-middle-content pt-20 pb-30">
					<ul class="social-footer">
						<li><a href="https://www.facebook.com/"><i
								class="fa fa-facebook"></i></a></li>
						<li><a href="https://twitter.com/"><i
								class="fa fa-twitter"></i></a></li>
						<li><a href="https://plus.google.com/"><i
								class="fa fa-google-plus"></i></a></li>
						<li><a href="https://www.linkedin.com/"><i
								class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><img src="/web/img/icon/social-img1.png"
								alt="google play"></a></li>
						<li><a href="#"><img src="/web/img/icon/social-img2.png"
								alt="app store"></a></li>
					</ul>
				</div>
			</div>
			<!-- Container End -->
		</div>
		<!-- Footer Middle End -->
		<!-- Footer Bottom Start -->
		<div class="footer-bottom pb-30">
			<div class="container">

				<div class="copyright-text text-center">
					<p>
						Copyright © 2020 <a target="_blank" href="#">ABC Store</a> All
						Rights Reserved.
					</p>
				</div>
			</div>
			<!-- Container End -->
		</div>
		<!-- Footer Bottom End -->
	</footer>

</div>


</html>